<h1>Burgers!!!</h1>

<h3>Eat that burger:</h3>

<ul>
    {{#each burgers}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Burger: {{this.burger_name}}</p>

        <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
    </li>
    {{/each}}
</ul>

<form id= "createburger" class="button-size" > 
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Submit</button>
</form>

<script type="text/javascript">
    $(".delburger").on("click", function (event) {
        // Get the ID from the button.
        // This is shorthand for $(this).attr("data-planid")
        var id = $(this).data("burgerid");

        // Send the DELETE request.
        $.ajax("/api/burgers/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    //////////////

    $("#createburger").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            // [name=plan] will find an element with a "name" attribute equal to the string "plan"
            var newBurger = {
                burger: $("#createburger [name=burger]").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });


    </script>
