body {
  width: 100%;
  margin-left: 1em;
  background-image: url("../img/bob.png");
  background-repeat: repeat;
  font-family: "Indie Flower", cursive;
}

h1 {
  align-items: center;
  font-size: 3rem;
  color: red;
  text-shadow: 0 0 3px #66ff00, 0 0 5px #daac81;
}

.container {
  width: 90%;
  height: 60vh;
}

.row {
  display: flex;
  height: 30vh;
}

.eat-burger {
  width: 50%;
  line-height: 1.4;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3em;
  color: white;
  text-shadow: 0 0 3px #66ff00, 0 0 5px #0000ff;
  font-size: 20px;
}

.devoured-burger {
  width: 50%;
  line-height: 1.4;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3em;
  color: white;
  text-shadow: 0 0 3px #66ff00, 0 0 5px #0000ff;
  font-size: 20px;
}

.add-burger {
  width: 95%;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.title {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-size: 20px;
}
